{% extends "base.html" %}
{% load static %}
{% block Content %}

{% load crispy_forms_tags %}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Contact</h1>
        <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Pages</li>
            <li class="breadcrumb-item active">Contact</li>
        </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section contact">
        <div class="row gy-4">
        <div class="col-xl-6">
            <div class="row">
                <div class="col-lg-6">
                    <div class="info-box card">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Address</h3>
                    <p>Sydney<br>Australia, NSW 2000</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box card">
                    <i class="bi bi-envelope"></i>
                    <h3>Email Us</h3>
                    <p><a class="mail">Contact me</a><br>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var parts = ['veris', '@', 'verisdev', '.', 'au'];
            var elems = document.getElementsByClassName('mail');
            var len = elems.length;
            for (var i = 0; i < len; i++) {
                elems[i].href = 'mailto:' + parts.join('');
            }
        </script>

        <div class="col-xl-6">
            <div class="card p-4">
                <form method="POST" action="{% url 'vsd-contact'%}">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-primary mx-auto" type="submit">Send message</button>
                    </div>
                </form>
            </div>

        </div>

        </div>

    </section>
</main>

{% endblock Content %}
