{% extends "base.html" %}
{% load static %}
{% block Content %}
{% load utils %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Blog</h1>
        <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'vsd-home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'vsd-blog-home' %}">Blog</a></li>
            <li class="breadcrumb-item active">{{object.title}}</li>
        </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="row align-items-top">
        <div class="col-lg-12">
            {{ object.body|convert_markdown|safe }}                
        </div>
    </div>
</main>

{% endblock Content %}
