<div class="col-lg-4">
    <div class="card">
        <div class="card-body">

            <h5 class="card-title">Category</h5>

            <ul class="list-group">
                            
            {% for catInfo in catInfos %}
            <a href="{% url 'vsd-blog-category'%}?f={{ catInfo.blogcategory }}">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ catInfo.blogcategory }}
                <span class="badge bg-primary rounded-pill">{{ catInfo.totalblogitem }}</span>
            </li></a>
            {% endfor %}
            </ul>

        </div>
    </div>
</div>
