{% extends "base.html" %}
{% load static %}
{% block Content %}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Blog</h1>
        <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'vsd-home' %}">Home</a></li>
            <li class="breadcrumb-item active">Blog Search</li>
        </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="row align-items-top">
        <h4>{{ title }}</h4>

        <h6>{{ num_results }} results found</h6>
        <div class="col-lg-8">
            {% for post in posts %}
            
            <!-- Card with header and footer -->
            <div class="card">
                <div class="card-body">
                <a href="{% url 'vsd-blog-detail' post.id %}" class="">
                <h5 class="card-title">{{ post.title }}</h5></a>
                    {{ post.intro }}
                </div>
                <div class="card-footer d-flex mb-1">
                    <div class="p-1"></div>
                    <div class="ms-auto p-1">{{ post.created_at|date:"F d, Y" }}</div>
                </div>
            </div><!-- End Card with header and footer -->
            {% endfor %}
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Category</h5>
                    
                    <!-- Blog Category With badges -->
                    {% include "blogs/blog_category.html" %}
                    <!-- End List Blog Category With badges -->
    
                </div>
            </div>
        </div>
    </div>
    
</main>

{% endblock Content %}
