{% extends "base.html" %}
{% load static %}
{% block Content %}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Blog</h1>
        <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'vsd-home' %}">Home</a></li>
            <li class="breadcrumb-item active">Blog Search</li>
        </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="row align-items-top">
        <h4>{{ title }}</h4>

        <h6>{{ num_results }} results found</h6>
              
        <!-- Blog List -->
        {% include "blogs/blog_list.html" %}
        <!-- End Blog List -->

        <!-- Blog Category With badges -->
        {% include "blogs/blog_nav_category.html" %}
        <!-- End List Blog Category With badges -->

    </div>
    
</main>

{% endblock Content %}
