{% load utils %}

<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

        <!-- Dashboard Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'vsd-home' %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <!-- Blog Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'vsd-blog-home' %}">
                <i class="bi bi-journal-album"></i>
                <span>Blog</span>
            </a>
        </li><!-- End Blog Nav -->

        <!-- Tools -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Tools</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>

            <!-- Blog Maintenance -->
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                <a href="{% url 'vsd-admin-login' %}">
                    <i class="bi bi-circle"></i><span>Blog Maintenance</span>
                </a>
                </li>
            </ul><!-- End Blog Maintenance -->

        </li><!-- End Tools -->
        

        <li class="nav-heading">Pages</li>

        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link {% is_active_view 'vsd-admin-profile'%}" href="{% url 'vsd-admin-profile' user.id %}">
              <i class="bi bi-person"></i>
              <span>Profile</span>
            </a>
        </li>
        {% endif %}
        <!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link {% is_active_view 'vsd-contact'%}" href="{% url 'vsd-contact' %}">
                <i class="bi bi-envelope"></i>
                <span>Contact</span>
            </a>
        </li><!-- End Contact Page Nav -->

        <li class="nav-item">
            <a class="nav-link {% is_active_view 'vsd-admin-register'%}" href="{% url 'vsd-admin-register' %}">
                <i class="bi bi-card-list"></i>
                <span>Register</span>
            </a>
        </li><!-- End Register Page Nav -->

        {% if not user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'vsd-admin-login' %}">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Login</span>
            </a>
        </li>
        {% endif %}
        <!-- End Login Page Nav -->

    </ul>
</aside>